// color
$bg-color: #FAFBF5;
$bg-quote-color: #e6c79c;
$btn-color: #cddfa0;
$btn-hover-color: #666f50;

// font:
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$quote-font: 'Dancing Script', cursive;
$txt-font: 'Roboto', sans-serif;